[alias]
    b = branch
    ci = commit
    cim = commit -m
    root = rev-parse --show-toplevel
    st = status
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    grep = auto
[core]
    editor = vim
    pager = less -F
[include]
    path = .gitconfig.local
[submodule]
    recurse = true
