.DS_Store
xdg-config-home/hammerspoon/Spoons
xdg-config-home/karabiner/assets/complex_modifications/*.json
xdg-config-home/karabiner/automatic_backups
xdg-config-home/karabiner/karabiner.json
xdg-config-home/vim/autoload/plug.vim
xdg-config-home/zsh/.zcompdump
xdg-config-home/zsh/.zprofile
xdg-config-home/zsh/.zsh_history
xdg-config-home/zsh/.zsh_sessions
xdg-config-home/zsh/.zshenv
xdg-config-home/zsh/.zshrc
