[submodule "vim/.vim/pack/themes/opt/dracula"]
	path = vim/.vim/pack/themes/opt/dracula
	url = https://github.com/dracula/vim.git
[submodule "vim/.vim/pack/airblade/opt/vim-gitgutter"]
	path = vim/.vim/pack/airblade/opt/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
