[submodule "macos/iterm/dracula/iterm"]
	path = macos/iterm/dracula/iterm
	url = https://github.com/dracula/iterm.git
[submodule "macos/ubersicht-morning.widget"]
	path = macos/ubersicht-morning.widget
	url = https://github.com/imRohan/ubersicht-morning.widget.git
[submodule "vim/.vim/pack/themes/opt/dracula"]
	path = vim/.vim/pack/themes/opt/dracula
	url = https://github.com/dracula/vim.git
