.DS_Store
macos/hammerspoon/Spoons
xdg-config-home/Battle.net
xdg-config-home/cava/shaders
xdg-config-home/cni/net.d
xdg-config-home/configstore/update-notifier-@google/
xdg-config-home/gh/hosts.yml
xdg-config-home/github-copilot/apps.json
xdg-config-home/github-copilot/versions.json
xdg-config-home/systemd/user
xdg-config-home/vim/autoload/plug.vim
xdg-config-home/vllm/usage_stats.json
xdg-config-home/zsh/.zcompdump
xdg-config-home/zsh/.zprofile
xdg-config-home/zsh/.zsh_history
xdg-config-home/zsh/.zsh_sessions
xdg-config-home/zsh/.zshenv
xdg-config-home/zsh/.zshrc
xdg-config-home/dconf/
xdg-config-home/ibus/
xdg-config-home/evolution/
xdg-config-home/pulse/
xdg-config-home/user-dirs.dirs
xdg-config-home/user-dirs.locale
xdg-config-home/gtk-3.0/
