#!/usr/bin/sh
#
# ~/.aliases
# Shell-independent aliases
# Use the follows as possible: bat, lsd

# Easier navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ~='cd ~'

# Fool-proof aliases
alias rm='rm -i'
alias mv='mv -i'
alias cp='cp -i'
alias ln='ln -i'

# Replace `cat` with `bat`
if command -v bat > /dev/null 2>&1; then
  alias cat='bat --paging=never'
  alias bathelp='bat --plain --language=help'
  export MANPAGER="sh -c 'col -bx | bat -l man -p'"
fi

# Colorize `ls` & Replace `ls` with `lsd`
# Lsd
if command -v bat > /dev/null 2>&1; then
  alias ls='command lsd'
  alias lsd="ls -lF --color=always --icon=always | grep --color=never '^[^\.]'"
else
  alias ls='ls --color=auto'
  alias lsd='ls -lF | grep --color=never '\''^d'\'''
fi
alias l='ls -lFh'
alias la='ls -lFAh'

# Colorize `grep`
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# Reload the shell as login shell
alias reload='exec ${SHELL} --login'

# Python virtual environment
alias ve='python3 -m venv ./venv'
alias va='source ./venv/bin/activate'

jpt() {
  jupyter notebook --no-browser --ip=0.0.0.0 --port=$1 "${@:2}"
}

# Print PATH entries
# FIXME
case $0 in
  *zsh)
    alias path='printf \"${PATH:gs/:/\\n}\\n\"'
    ;;
  *bash)
    alias path='printf \"${PATH//:/\\n}\\n\"'
    ;;
esac

# vim:ft=sh:ts=2:sts=2:sw=2:et:sta
