# https://packaging.python.org/en/latest/specifications/
#
[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "`v:fnamemodify(getcwd(), ':t:r')`"
version = "0.1.0"

[tool.black]
line-length = 80

[tool.isort]
profile = "google"
