;; Reference:
;; - https://docs.python.org/3/library/__main__.html#main-py-in-python-packages

"""{basename} - Package entry point (`python -m`)."""

from {dot}.main import main

if __name__ == "__main__":
    raise SystemExit(main())
