;; Reference:
;; - https://docs.pytest.org/en/stable/getting-started.html

"""Tests for {basename}."""

import pytest


def test_{snakecase}() -> None:
    """Test case for {snakecase}."""
    {cursor}pass
