* {
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

body {
  overflow: hidden;
}

#wrapper {
  border-radius: 10px;
  background-color: black;
  padding: 10px;
  opacity: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  display: flex;
  flex-direction: column;
  gap: 2px;
  aspect-ratio: 3.5 / 1;
  height: 180px;

  font-family: sans-serif;
  font-size: 25px;
}

span {
  color: #f8f8f2;
  background-color: #282a36;
  border: 2px solid #44475a;
  border-radius: 5px;
  vertical-align: middle;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-grow: 1;
  gap: 2px;
}

.block {
  aspect-ratio: 1 / 1;
}

.flexible-block {
  flex: 1;
  width: auto;
}

.red {
  background-color: hsl(0, 15%, 18%);
  border-color: hsl(0, 14%, 31%);
}

.green {
  background-color: hsl(135, 15%, 18%);
  border-color: hsl(135, 14%, 31%);
}

.cyan {
  background-color: hsl(191, 15%, 18%);
  border-color: hsl(191, 14%, 31%);
}

.purple {
  background-color: hsl(265, 15%, 18%);
  border-color: hsl(265, 14%, 31%);
}

.pink {
  background-color: hsl(326, 15%, 18%);
  border-color: hsl(326, 14%, 31%);
}

.pressed {
  color: #282a36;
  background-color: #6262a4;
}


.red.highlighted {
  background-color: hsl(0, 14%, 31%);
}

.green.highlighted {
  background-color: hsl(135, 14%, 31%);
}

.cyan.highlighted {
  background-color: hsl(191, 14%, 31%);
}

.purple.highlighted {
  background-color: hsl(265, 14%, 31%);
}

.pink.highlighted {
  background-color: hsl(326, 14%, 31%);
}

.red.pressed {
  background-color: hsl(0, 27%, 51%);
}

.green.pressed {
  background-color: hsl(135, 27%, 51%);
}

.cyan.pressed {
  background-color: hsl(191, 27%, 51%);
}

.purple.pressed {
  background-color: hsl(265, 27%, 51%);
}

.pink.pressed {
  background-color: hsl(326, 27%, 51%);
}
